@{
    ViewData["Title"] = "Request Funds";

}
@model NewForecastedRequest;

<html>

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    @if (@TempData["message"] != null)
    {
        <div class="alertbox">
            @TempData["message"]
        </div>

    }
    <br />
    <div class="MainMessage">
        <h4>Request Funds</h4>
    </div>

    <div class="main_form">

        <form method="POST" asp-controller="FundRequest" asp-action="SaveForecastRequest">
            <h4>Fund Request:   Please enter Fund Request details below.</h4>

            <br />

            <label for="inputPassword5" class="form-label">Funds Required Date</label>
            <input asp-for="RequiredDate" class="form-control form-control-sm" type="date" aria-label=".form-control-sm example">

            <label for="inputPassword5" class="form-label">Select Payment Type</label>
            <select asp-for="@Model.PaymentID" class="form-select form-select-sm" aria-label="Small select example">
                <option selected> -- Please Select -- </option>
                @foreach (var PaymentList in Model.PaymentList)
                {
                    <option value="@PaymentList.Key">@PaymentList.Value</option>
                }

            </select>

            <label for="inputPassword5" class="form-label">Select Account Number</label>
            <select asp-for="@Model.AccountID" class="form-select form-select-sm" aria-label="Small select example">
                <option value="" selected> -- Please Select -- </option>
                @foreach (var AccountList in Model.AccountList)
                {
                    <option value="@AccountList.Key">@AccountList.Value</option>
                }

            </select>

            <label for="inputPassword5" class="form-label">Request Amount</label>
            <input asp-for="RequestAmount" class="form-control form-control-sm" type="text" aria-label=".form-control-sm example">

            <br />
            <button type="submit" class="btn btn-primary">Save</button>

            <a asp-controller="" asp-action="">
                <button type="button" class="btn btn-secondary"> Exit</button>
            </a>

        </form>

    </div>



</body>
</html>


